<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Strona</title>
        <meta name="author" content="Emilia Rosła">
        
        <link rel="stylesheet" type="text/css" href="../static/style1.css">
        <script type="text/javascript" src="../static/visuals.js"></script>

    </head>

    <body>
        <h2>Logowanie</h2>
        <form method="POST" style="--font: black;">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <button type="submit">Zaloguj</button>
        </form>
    </body>
</html>
